<tr id="<%= dom_id friend %>">
  <% if friend.user == current_user %>
    <td> <%= link_to friend.first_name + ' ' + friend.last_name, friend, class:"fw-bold text-decoration-none text-primary" %></td>    
    <td><%= friend.email %></td>
    <td><%= friend.phone %></td>
    <td><%= friend.twitter %></td>
    <td><%= link_to 'Edit', edit_friend_path(friend), class:"btn btn-outline-info btn-sm" %></td>          
    <td><%= button_to 'Delete', friend, method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }, class: "btn btn-outline-danger btn-sm" %></td>
  <% end %>
</tr>