<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title text-center"><%= @friend.first_name %> <%= @friend.last_name %></h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>Email:</strong> <%= @friend.email %></li>
    <li class="list-group-item"><strong>Phone:</strong> <%= @friend.phone %></li>
    <li class="list-group-item"><strong>Twitter:</strong> <%= @friend.twitter %></li>
  </ul>
  <div class="card-body">
    <%= link_to 'Back', friends_path, class:"btn btn-dark btn-sm" %>
    <%= link_to 'Edit', edit_friend_path(@friend), class:"btn btn-primary btn-sm" %>
    
    <br/>
    <br/>
    <%= button_to 'Delete', @friend, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
  </div>
</div>
